In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('50_Startups.csv')

In [3]:
dataset.head(15)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65

In [4]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 4].values

In [5]:
print(pd.DataFrame(X).head(15))
print(pd.DataFrame(y).head(15))

          0        1       2           3
0    165349   136898  471784    New York
1    162598   151378  443899  California
2    153442   101146  407935     Florida
3    144372   118672  383200    New York
4    142107  91391.8  366168     Florida
5    131877  99814.7  362861    New York
6    134615   147199  127717  California
7    130298   145530  323877     Florida
8    120543   148719  311613    New York
9    123335   108679  304982  California
10   101913   110594  229161     Florida
11   100672  91790.6  249745  California
12  93863.8   127320  249839     Florida
13  91992.4   135495  252665  California
14   119943   156547  256513     Florida
            0
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65

In [6]:
from sklearn.preprocessing import  OneHotEncoder
onehotencoder = OneHotEncoder(categories='auto') #Assigning 0,1,2 to countries is not a good idea since making numerical comparisons for countries is senseless
X = np.append(onehotencoder.fit_transform(X[:,3].reshape(-1,1)).toarray() , X[:,:-1] , axis = 1).astype(np.float64)
y = y.astype(np.float64)
print(pd.DataFrame(X).head(15))
print(pd.DataFrame(y).head(15))

      0    1    2          3          4          5
0   0.0  0.0  1.0  165349.20  136897.80  471784.10
1   1.0  0.0  0.0  162597.70  151377.59  443898.53
2   0.0  1.0  0.0  153441.51  101145.55  407934.54
3   0.0  0.0  1.0  144372.41  118671.85  383199.62
4   0.0  1.0  0.0  142107.34   91391.77  366168.42
5   0.0  0.0  1.0  131876.90   99814.71  362861.36
6   1.0  0.0  0.0  134615.46  147198.87  127716.82
7   0.0  1.0  0.0  130298.13  145530.06  323876.68
8   0.0  0.0  1.0  120542.52  148718.95  311613.29
9   1.0  0.0  0.0  123334.88  108679.17  304981.62
10  0.0  1.0  0.0  101913.08  110594.11  229160.95
11  1.0  0.0  0.0  100671.96   91790.61  249744.55
12  0.0  1.0  0.0   93863.75  127320.38  249839.44
13  1.0  0.0  0.0   91992.39  135495.07  252664.93
14  0.0  1.0  0.0  119943.24  156547.42  256512.92
            0
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =  train_test_split(X,y,test_size = 0.2, random_state = 0)

In [11]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train , y_train)
y_predict = regressor.predict(X_test)
print(y_predict)

[103015.20159796 132582.27760816 132447.73845174  71976.09851258
 178537.48221055 116161.24230166  67851.69209676  98791.73374686
 113969.43533013 167921.06569551]

In [15]:
print(pd.DataFrame(y_test) ),
print(pd.DataFrame(y_predict))

           0
0  103282.38
1  144259.40
2  146121.95
3   77798.83
4  191050.39
5  105008.31
6   81229.06
7   97483.56
8  110352.25
9  166187.94
               0
0  103015.201598
1  132582.277608
2  132447.738452
3   71976.098513
4  178537.482211
5  116161.242302
6   67851.692097
7   98791.733747
8  113969.435330
9  167921.065696