In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Position_Salaries.csv')
dataset

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [3]:
X = dataset.iloc[:, 1:2].values
y = dataset.iloc[:,2].values
print(pd.DataFrame(X))
print(pd.DataFrame(y))

    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10
         0
0    45000
1    50000
2    60000
3    80000
4   110000
5   150000
6   200000
7   300000
8   500000
9  1000000

In [4]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 4)
X_poly  = poly_reg.fit_transform(X)
print(pd.DataFrame(X_poly))

     0     1      2       3        4
0  1.0   1.0    1.0     1.0      1.0
1  1.0   2.0    4.0     8.0     16.0
2  1.0   3.0    9.0    27.0     81.0
3  1.0   4.0   16.0    64.0    256.0
4  1.0   5.0   25.0   125.0    625.0
5  1.0   6.0   36.0   216.0   1296.0
6  1.0   7.0   49.0   343.0   2401.0
7  1.0   8.0   64.0   512.0   4096.0
8  1.0   9.0   81.0   729.0   6561.0
9  1.0  10.0  100.0  1000.0  10000.0